.home-s-1 {
  padding-top: 100px;
  margin-bottom: 20px;
  .container {
    width: 500px;
    margin: 0 auto;
    background-color: #ffffc0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    .poster-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 50px;
      }
      form {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-self: center;
        textarea {
          resize: none;
          height: 40px;
          border: 2px solid #e1dede69;
          border-radius: 5px;
          background: white;
          color: black;
          text-align: left;
          margin: 5px 5px;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
          font-family: "Amatic SC", sans-serif, bold;
          font-size: larger;
          outline: none;
          border: none;
          align-self: center;
          width: 75%;
          padding: 5px;
        }
        button {
          @include main_button;
          padding: 5px;
          align-self: center;
          border: none;
          color: $base_color2;
        }
        i {
          color: $base_color2;
          align-self: center;
        }
      }
    }
  }
}
