{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<header>
  <div class="container">
    <a href="home.html"><img src="../../static/images/logo.png" alt="" /></a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <nav>
      <a class="current" href="#"
        ><i class="fa-solid fa-house current-i"></i
      ></a>
      <a href="{{ url_for('user') }}"><i class="fa-solid fa-user"></i> </a
      ><a href="#"><i class="fa-brands fa-facebook-messenger"></i> </a>
      <a href="#"><i class="fa-solid fa-bell"></i></a>
      <a href="{{ url_for('logout') }}"
        ><i class="fa-solid fa-right-from-bracket"></i
      ></a>
    </nav>
  </div>
</header>
<section class="home-s-1">
  <div class="container">
    <div class="poster-div">
      <img src="../../static/images/user_male.png" alt="" />
      <form action="" method="POST">
        <textarea
          id="post"
          name="post"
          placeholder="Write your text post here"
          rows="10"
          cols="50"
        ></textarea>
        <button><i class="fa-solid fa-images"></i></button>
        <button>Post</button>
      </form>
    </div>
  </div>
</section>
<section class="home-s-2">
  <div class="container">
    <div class="post-user">
      <img src="../../static/images/user_male.png" alt="" />
      <h2>Username</h2>
    </div>
    <div class="post-div">
      <div class="discr-div">
        <p>this is my first post</p>
      </div>
      <div class="post-img-div">
        <img src="../../static/images/first_post.jpg" alt="" />
      </div>
    </div>
    <div class="reaction-div">
      <button><i class="fa-regular fa-heart"></i></button>
      <button><i class="fa-regular fa-comment"></i></button>
      <button><i class="fa-solid fa-share"></i></button>
    </div>
  </div>
</section>
<section class="home-s-2">
  <div class="container">
    <div class="post-user">
      <img src="../../static/images/user_male.png" alt="" />
      <h2>Username</h2>
    </div>
    <div class="post-div">
      <div class="discr-div">
        <p>this is my second post</p>
      </div>
      <div class="post-img-div">
        <img src="../../static/images/first_post.jpg" alt="" />
      </div>
    </div>
    <div class="reaction-div">
      <button><i class="fa-regular fa-heart"></i></button>
      <button><i class="fa-regular fa-comment"></i></button>
      <button><i class="fa-solid fa-share"></i></button>
    </div>
  </div>
</section>
<section class="home-s-2">
  <div class="container">
    <div class="post-user">
      <img src="../../static/images/user_male.png" alt="" />
      <h2>Username</h2>
    </div>
    <div class="post-div">
      <div class="discr-div">
        <p>this is my third post</p>
      </div>
      <div class="post-img-div">
        <img src="../../static/images/first_post.jpg" alt="" />
      </div>
    </div>
    <div class="reaction-div">
      <button><i class="fa-regular fa-heart"></i></button>
      <button><i class="fa-regular fa-comment"></i></button>
      <button><i class="fa-solid fa-share"></i></button>
    </div>
  </div>
</section>

{% endblock %}
