<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <script
      src="https://kit.fontawesome.com/4c0bd0f42d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Profle</title>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="home.html"
          ><img src="../../static/images/logo.png" alt=""
        /></a>
        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <nav>
          <a href="{{ url_for('views.home') }}"
            ><i class="fa-solid fa-house"></i
          ></a>
          <a class="current" href="#"
            ><i class="fa-solid fa-user current-i"></i> </a
          ><a href="#"><i class="fa-brands fa-facebook-messenger"></i> </a>
          <a href="#"><i class="fa-solid fa-bell"></i></a>
          <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
        </nav>
      </div>
    </header>
    <section class="user-pf-s-1">
      <div class="container">
        <div class="user-banner">
          <div class="banner">
            <img src="../../static/images/user_male.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="home-s-1 prf-s-1">
      <div class="container">
        <div class="poster-div">
          <img src="../../static/images/user_male.png" alt="" />
          <form action="" method="POST">
            <textarea
              id="post"
              name="post"
              placeholder="Write your text post here"
              rows="10"
              cols="50"
            ></textarea>
            <button><i class="fa-solid fa-images"></i></button>
            <button>Post</button>
          </form>
        </div>
      </div>
    </section>
    <section class="home-s-2">
      <div class="container">
        <div class="post-user">
          <img src="../../static/images/user_male.png" alt="" />
          <h2>Username</h2>
        </div>
        <div class="post-div">
          <div class="discr-div">
            <p>this is my first post</p>
          </div>
          <div class="post-img-div">
            <img src="../../static/images/first_post.jpg" alt="" />
          </div>
        </div>
        <div class="reaction-div">
          <button><i class="fa-regular fa-heart"></i></button>
          <button><i class="fa-regular fa-comment"></i></button>
          <button><i class="fa-solid fa-share"></i></button>
        </div>
      </div>
    </section>
    <section class="home-s-2">
      <div class="container">
        <div class="post-user">
          <img src="../../static/images/user_male.png" alt="" />
          <h2>Username</h2>
        </div>
        <div class="post-div">
          <div class="discr-div">
            <p>this is my second post</p>
          </div>
          <div class="post-img-div">
            <img src="../../static/images/first_post.jpg" alt="" />
          </div>
        </div>
        <div class="reaction-div">
          <button><i class="fa-regular fa-heart"></i></button>
          <button><i class="fa-regular fa-comment"></i></button>
          <button><i class="fa-solid fa-share"></i></button>
        </div>
      </div>
    </section>
    <section class="home-s-2">
      <div class="container">
        <div class="post-user">
          <img src="../../static/images/user_male.png" alt="" />
          <h2>Username</h2>
        </div>
        <div class="post-div">
          <div class="discr-div">
            <p>this is my third post</p>
          </div>
          <div class="post-img-div">
            <img src="../../static/images/first_post.jpg" alt="" />
          </div>
        </div>
        <div class="reaction-div">
          <button><i class="fa-regular fa-heart"></i></button>
          <button><i class="fa-regular fa-comment"></i></button>
          <button><i class="fa-solid fa-share"></i></button>
        </div>
      </div>
    </section>
  </body>
</html>
