<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/4c0bd0f42d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title></title>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="home.html"
          ><img src="../../static/images/logo.png" alt=""
        /></a>
        <nav>
          <a class="current" href="#"
            ><i class="fa-solid fa-house current-i"></i
          ></a>
          <!-- <a href="{{ url_for('user') }}"><i class="fa-solid fa-user"></i> </a
          ><a href="#"><i class="fa-brands fa-facebook-messenger"></i> </a>
          <a href="#"><i class="fa-solid fa-bell"></i></a>
          <a href="{{ url_for('logout') }}"
            ><i class="fa-solid fa-right-from-bracket"></i
          ></a> -->
        </nav>
      </div>
    </header>
    <div class="block-content">{% block content %} {% endblock %}</div>
  </body>
</html>
