<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <script
      src="https://kit.fontawesome.com/4c0bd0f42d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>
    <section class="login-s">
      <div class="container">
        <h2>Login</h2>
        <div class="login-form">
          <form method="POST">
            <div class="form-item-email">
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="form-item-password">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
            </div>
            <div class="form-btns">
              <button class="signup" type="submit">Login</button>
              <div class="options">
                Don't have an account?
                <a href="{{ url_for('auth.sign_up') }}">Sign Up here</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
