{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <script
      src="https://kit.fontawesome.com/4c0bd0f42d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Sign Up</title>
  </head>
  <body>
    <section class="signup-s">
      <div class="container">
        <div
          class="alert alert-success alter-dismissable fade show"
          role="alert"
        >
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <h2>Sign Up</h2>
        <div class="login-form">
          <form method="POST">
            <div class="form-item">
              <input
                type="text"
                name="userName"
                id="userName"
                placeholder="Firs Name"
              />
              <input
                type="text"
                name="userName"
                id="userName"
                placeholder="Last Name"
              />
            </div>
            <div class="form-item-email">
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="form-item-password">
              <input
                type="password"
                name="password"
                id="password1"
                placeholder="Password"
              />
              <input
                type="password"
                name="passWord"
                id="password2"
                placeholder="Confirm Password"
              />
            </div>
            <div class="remember-box">
              <input type="checkbox" name="remember" id="remember" required />
              <p>I accept the Terms of Use & Privacy Policy</p>
            </div>
            <div class="form-btns">
              <button class="signup" type="submit">Sign Up</button>
              <div class="options">
                Already have an account?
                <a href="{{ url_for('auth.login') }}">Login here</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}
